body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
*{
	box-sizing: border-box;
}
/*
font-family: 'Arbutus Slab', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
*/

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
input{
    margin: 0;
	padding: 0;  
}
ul,li,a,p{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5{
	margin: 0;
}
h1{
	font-size: 35px;
}
h2{
	font-size: 16px;
}
h3{
	font-size: 13px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 14px;
}

.post__tittel{
    font-weight: 700;
    color: #3e3d3d;
    text-transform: uppercase;
}

/* header */

.header {
}
.container {
}
.header__item{
    height: 100%;
}
.header__top {
    min-height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    align-items: center;
}
.logo__header {
}
.logo__header-text {
    font-size: 18px;
    text-transform: uppercase;
    color: #757575;
    margin-left: 12px;
}
.header__menu {
    transition: all 0.3s ease 0s;
}
.menu__header {
}
.menu__header-nav {
}
.menu__header-list {
    display: flex;
    margin-right: 16px;
}
.menu__header-list:last-child{
    margin-right: 0;
}
.menu__header-link {
    text-transform: uppercase;
    font-size: 12px;
    color: #aaaaaa;
}
.menu__header-link:hover{
    color: #757575;
    text-decoration: underline;
}
.header__menu-burger{
    display: none;
}
.header__link {
}
.link__header {
    display: flex;
}
.link__header-list {
    border-right: 1px solid #aaaaaa;
    padding: 0 4px;
}

.link__header-list:last-child{
    border: none;
}
.link__header-link:hover{
    color: #757575;
}
.link__header-link {
    color: #aaaaaa;
    font-size: 12px;
}
.fab {
}
.fa-facebook-square {
}
.fa-twitter {
}
.fa-behance {
}
.header__body {
    max-height: 336px;
}
.header__body-item {
    background-image: url(../img/headerBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__body-tittel {
    color: #ffffff;
    margin-top: 24px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 31px 0 33px 0;
    font-family: 'Crimson Text', serif;
}
.header_breadcrumb{
    margin-top: 28px;
}
.breadcrumb__lists{
    display: flex;
}
.breadcrumb__list{
    margin-right: 6px;
}
.breadcrumb__list-item{ 
    font-size: 14px;
    font-family: 'Crimson Text', serif;
    color: #fff;
}

/* main  */
.wrapper{
    background-color: #e3e3e3;
}
.wrapper__item{
    display: flex;
    justify-content: space-between;
    padding: 86px 0 83px 0;
}


/* main */
.main{
    width: 70%;
    padding-right: 50px;
}
.post__list{
    border-bottom: 1px solid #3e3d3d;
    padding-bottom: 70px;
}
.post__list-item{
    margin-bottom: 50px;
}
.post__list-item:last-child{
    margin-bottom: 0;
}
.posts__item-img{
    width: 100%;
    max-height: 373px;
}
.img__post{
    width: 100%;
    height: 100%;
}
.posts__item-tittel{
    margin-top: 40px;
    color: #3e3d3d;
}
.tittel__post{
    letter-spacing: 0.1em;
}
.subtittel__post{
    margin-top: 12px ;
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    font-style: italic;
}
.posts__item-info{
    display: flex;
    align-items: center;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    margin-top: 18px;
    height: 39px;

    color: #818181;
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    font-style: italic;
}
.post__info-coments{
    display: flex;
    align-items: center;
    margin-right: 12px;
}
.post__info-coments::before{
    content: url(../img/coments.png);
    margin-right: 8px;
}
.post__info-view{
    display: flex;
    align-items: center;
    margin-right: 12px;
}
.post__info-view::before{
    content: url(../img/wiev.png);
    margin-right: 8px;
}
.post__info-brading{
    display: flex;
    align-items: center;
    margin-right: 12px;
}
.post__info-brading::before{
    content: url(../img/brading.png);
    margin-right: 8px;
}
.posts__item-text{
    margin-top: 30px;
    color: #3e3d3d;
}
.text__post{
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.posts__item-btn{
    margin-top: 36px;
}
.btn__post{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 30px;
    border: 1px solid #3e3d3d;
    font-size: 13px;
    color: #3e3d3d;
    transition: 0.3s;
}
.btn__post:hover{
    background-color: #3e3d3d;
    color: #fff;
}

.post__pages{
    margin-top: 76px;
}
.pages__lists{
    display: flex;
    justify-content: center;
}
.pages__list{
    margin-right: 5px;
}
.pages__list:last-child{
    margin-right: 0;
}
.pages__list-link{
    height: 38px;
    width: 38px;
    border: 1px solid #5f5e5e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Crimson Text', serif;
    color: #3e3d3d;
    font-style: italic;
    transition: 0.3s;
}
.pages__list-link.active{
    background-color: #3e3d3d;
    color: #fff;
}
.pages__list-link:hover{
    background-color: #3e3d3d;
    color: #fff;
}

/* side__bar */

.side__bar{
    width: 300px;
}
.side__search{
    position: relative;
}
.side__search-input{
    border: 1px solid #a8a8a8;
    outline: none;
    width: 100%;
    height: 39px;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 30px;
    color: #3e3d3d;
}
.side__search-input
input[type='search']::-webkit-search-decoration, 
input[type='search']::-webkit-search-cancel-button, 
input[type='search']::-webkit-search-results-button, 
input[type='search']::-webkit-search-results-decoration {
	display: none;
}
.side__search-input::-ms-reveal { 
         display: none; 
         width : 0; 
         height: 0; 
        }
.side__search-input::placeholder{
    color: #3e3d3d;
    font-size: 14px;
    font-style: italic;
    font-family: 'Crimson Text', serif;
}
.side__search-btn{
    height: 14px;
    width: 14px;
    border: 0;
    background: none;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 14px;
    padding: 0;
    transform: translate(0 , -50%);
}
.side__search-img{
    height: 14px;
    width: 14px;
}
.side__posts{
    margin-top: 38px;
}
.side__posts-tittel{

}
.side__posts-item{
    margin-top: 38px;
}
.posts__side{
    display: flex;
    padding-bottom: 34px;
    border-bottom: 1px solid #b7b7b7;
    margin-top: 32px;
}
.posts__side:last-child{
    border: none;
    padding-bottom: 0;
}
.posts__side:first-child{
    margin-top: 0;
}
.posts__side-img{
    height: 109px;
    width: 113px;
}
.posts__img-side{
    
}
.posts__side-info{
    padding-left: 18px;
    color: #3e3d3d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.posts__side-info-tittel{
    text-transform: uppercase;
    font-size: 12px;
    color: #3e3d3d;
    font-weight: 700;
}
.posts__side-info-categories{
    font-size: 14px;
    font-style: italic;
    font-family: 'Crimson Text', serif;
}
.side__categories{
    margin-top: 64px;
}
.side__archives{
    margin-top: 60px;
}
.side_archives-tittel{

}
.side__archives-body{
    margin-top: 18px;
}
.side__archives-acordeon{
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 22px;
    padding-top: 20px;
}
.side__acordeon-tittel{

}
.acordeon__side-tittel{
    font-size: 16px;
    font-style: italic;
    font-family: 'Crimson Text', serif;
    color: #3e3d3d;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.acordeon__side-tittel::before{
    content: "";
    background-image: url(../img/acordeon.png);
    height: 7px;
    width: 4px;
    margin-right: 6px;
    transition: 0.3s;
}
.side__archives-acordeon.active .acordeon__side-tittel::before{
    content: "";
    transform: rotate(90deg);
}
.side__archives-acordeon.active .side__acordeon-body{
    height: auto;
}
.side__acordeon-body{
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.side__acordeon-lists{
    padding-left: 10px;
    padding-top: 10px;
}
.side__acordeon-list{
    margin-bottom: 10px;
}
.side__acordeon-link{
    font-size: 14px;
    font-style: italic;
    font-family: 'Crimson Text', serif;
    color: #3e3d3d;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.side__photo{
    margin-top: 60px;
}
.side__photo-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 38px;
}
.photo__side{
    width: 90px;
    height: 87px;
    margin-bottom: 18px;
}
.photo__side-img{
    width: 100%;
    height: 100%;
}






/* footer */

.footer{
    background-image: url(../img/footer__bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__item{
    padding-top: 50px;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contact{
    max-width: 370px;
}
.contact__footer-logo{
    margin-bottom: 42px;
}
.footer__logo-item{
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}
.logo__footer-text {
    color: #ffffff;
}
.footer__logo-text{
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    color: #949494;
}
.contact__footer-studio{
    margin-bottom: 40px;
}
.footer__studio-tittel{
    font-size: 13px;
    color: #e3e3e3;
    margin-bottom: 30px;
}
.footer__studio-text{
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    color: #949494;
}
.contact__footer-contact{
    margin-bottom: 38px;
}
.footer__contact-item{
    font-size: 13px;
    color: #e3e3e3;
    text-transform: uppercase;
}
.footer__contact-link{
    font-size: 13px;
    color: #e3e3e3;
    text-transform: uppercase;
}
.footer__contact-email{
    margin-left: 8px;
}
.contact__footer-social{
    margin-bottom: 60px;
}
.footer__form{
    max-width: 770px;
    margin-left: 30px;
}
.form__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form__footer-input{
    background: transparent;
    border: 2px solid #464646;
    height: 56px;
    width: 373px;
    margin-bottom: 22px;
    padding: 0 10px 0 22px;
    color: #e3e3e3;
    font-size: 13px;
    outline: none;
}
.form__footer-input::placeholder{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
}
.form__footer-messeg{
    width: 100%;
    height: 97px;
}
.form__footer-btn{
    background-color: #464646;
    color: #e3e3e3;
    font-size: 13px;
    width: 134px;
    height: 39px;
    letter-spacing: 0.1em;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
}
.form__footer-btn:hover{
    background-color: #3e3e3e;
}
.footer__bottom{
    min-height: 92px;
    border-top: 1px solid #3e3e3e;
    display: flex;
    align-items: center;
}
.footer__avtor{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: #949494;
    max-width: 880px;
}


/* footer */

.footer{
    background-image: url(../img/footer__bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__item{
    padding-top: 50px;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contact{
    max-width: 370px;
}
.contact__footer-logo{
    margin-bottom: 42px;
}
.footer__logo-item{
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}
.logo__footer-text {
    color: #ffffff;
}
.footer__logo-text{
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    color: #949494;
}
.contact__footer-studio{
    margin-bottom: 40px;
}
.footer__studio-tittel{
    font-size: 13px;
    color: #e3e3e3;
    margin-bottom: 30px;
}
.footer__studio-text{
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    color: #949494;
}
.contact__footer-contact{
    margin-bottom: 38px;
}
.footer__contact-item{
    font-size: 13px;
    color: #e3e3e3;
    text-transform: uppercase;
}
.footer__contact-link{
    font-size: 13px;
    color: #e3e3e3;
    text-transform: uppercase;
}
.footer__contact-email{
    margin-left: 8px;
}
.contact__footer-social{
    margin-bottom: 60px;
}
.footer__form{
    max-width: 770px;
    margin-left: 30px;
}
.form__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form__footer-input{
    background: transparent;
    border: 2px solid #464646;
    height: 56px;
    width: 373px;
    margin-bottom: 22px;
    padding: 0 10px 0 22px;
    color: #e3e3e3;
    font-size: 13px;
    outline: none;
}
.form__footer-input::placeholder{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
}
.form__footer-messeg{
    width: 100%;
    height: 97px;
}
.form__footer-btn{
    background-color: #464646;
    color: #e3e3e3;
    font-size: 13px;
    width: 134px;
    height: 39px;
    letter-spacing: 0.1em;
    padding: 0;
    cursor: pointer;
}
.footer__bottom{
    min-height: 92px;
    border-top: 1px solid #3e3e3e;
    display: flex;
    align-items: center;
}
.footer__avtor{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: #949494;
    max-width: 880px;
}



/* media */

@media (max-width: 1186px){
    .form__input-footer{
        width: 48%;
    }
}

@media (max-width: 880px){
    .header__top{
        position: relative;
    }
    .header__menu{
        position: absolute;
        top: -1200%;
        width: 100%;
        z-index: 100;
        background-color: rgba(000, 000, 000, 0.9);
    }
    .header__menu.active{
        top: 63px;
    }
    .menu__header-list{
        display: block;
        margin-bottom: 20px;
    }
    .menu__header-nav{
        margin-top: 20px;
        text-align: center;
    }

    .header__menu-burger{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
    .header__burger{
        height: 20px;
        width: 40px;
        cursor: pointer;
        position: relative;
    }
    .header__burger-line{
        height: 3px;
        width: 100%;
        background: #aaaaaa;
        top: 50%;
        margin-top: -2px;
        position: absolute;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background: #aaaaaa;
        left: 0;
        position: absolute;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 13px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        top: 13px;
    }
    .header__body-item{
       height: auto;
       padding: 20px 0 100px 0;
    }
}

@media ( max-width: 777px){
    .footer__top{
        display: block;
    }
    .footer__form{
        margin-left: 0;
    }
    .footer__logo-text{
        display: none;
    }
    .footer__item{
        padding-top: 10px;
    }
    .contact__footer-logo{
        margin-bottom: 15px;
    }
    .footer__logo-item{
        margin-bottom: 0;
    }
    .contact__footer-studio {
        margin-bottom: 15px;
    }
    .footer__studio-tittel{
        margin-bottom: 5px;
    }
    .contact__footer-contact{
        margin-bottom: 15px;
    }
    .contact__footer-social{
        margin-bottom: 15px;
    }
}
@media ( max-width: 700px){
    .posts__side {
        display: block;
    }
    .posts__side-info {
        margin-top: 10px;
        padding-left: 0;
        margin-top: 18px;
        justify-content: center;
    }
    .side__archives {
        margin-top: 30px;
    }
    .side__categories {
        margin-top: 24px;
    }
    .posts__side-info-categories {
        margin-top: 10px;
    }
    .side__bar{
        width: 25%;
    }
    .wrapper__item{
        padding: 26px 0 33px 0;
    }
    .post__pages{
        margin-top: 26px;
    }
    .post__list{
        padding-bottom: 30px;
    }
    .posts__item-tittel{
        margin-top: 10px;
    }
    .posts__item-text{
        margin-top: 15px;
    }
    .posts__item-btn{
        margin-top: 16px;
    }
    .main{
        width: 75%;
        padding-right: 20px;
    }
    .side__photo{
        margin-top: 25px;
    }
    .side__posts{
        margin-top: 18px;
    }
    .posts__side {
        padding-bottom: 14px;
    }
}
@media ( max-width: 570px){
   .wrapper__item{
       display: block
   }
   .main{
       width: 100%;
       padding-right: 0;
   }
   .side__bar{
       margin-top: 20px;
       width: 100%;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       margin-top: 20px;
   }
   .side__bar{
       width: 100%;
   }
   .side__posts-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .posts__side{
       width: 45%;
   }
   .posts__side:last-child {
    border-bottom: 1px solid #b7b7b7;
   }
   .posts__side{
       margin-top: 10px;
   }
   .side__archives {
    width: 45%;
    margin-top: 24px;
    }
    .side__categories {
        width: 45%;
    }
    .side__photo-item {
        justify-content: space-around;
    }
    .posts__side:first-child{
        margin-top: 10px;
    }
}
@media ( max-width: 520px){
    .footer__bottom{
        min-height: 30px;
    }
    .form__footer-input{
        height: 36px;
        margin-bottom: 15px;
    }
}
@media ( max-width: 430px){
    .logo__header-text{
        display: none;
    }
}